.member-container
{
	width: 200px;  /* <-- keep width = height */
	height: 200px;
	display: grid;
}

.svg-wrapper
{
  grid-column: 1;
  grid-row: 1;
}

.x-path
{
  transition: d 0.35s;
  fill: white;
}

.member
{
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.svg-wrapper:hover path{
	d: path("M 0 0 L 0 300 L 300 300 L 300 0 Z M 152 265 C 122.042 265 93.28 253.087 72.097 231.903 C 61.505 221.311 53.231 208.825 47.605 195.242 C 41.978 181.659 39 166.979 39 152 C 39 122.042 50.913 93.28 72.097 72.097 C 93.28 50.913 122.042 39 152 39 C 161.986 39 171.839 40.324 181.323 42.873 C 190.807 45.423 199.921 49.198 208.43 54.101 C 216.939 59.004 224.842 65.036 231.903 72.097 C 253.087 93.28 265 122.042 265 152 C 265 166.979 262.022 181.659 256.396 195.242 C 250.769 208.825 242.495 221.311 231.903 231.903 C 210.72 253.087 181.958 265 152 265 L 152 265 L 152 265");
}
